{% extends 'base.html' %}
{% block content %}
<h1 style="margin-top:60px;margin-bottom:20px;font-size:1.8rem;"> MISSION </h1>
<p>To support the development of Rwanda by discovering and advancing knowledge,<br>
    committed to the highest standards of academic excellence , where students are<br>
    prepared for lives of service, leadership and solutions.</p>

<h1 style="margin-top:60px;margin-bottom:20px;font-size:1.8rem;"> VISION </h1>
<P>To be a leading University that develops highly enterprising graduates prepared and<br>
    dedicated to building a more just and sustainable society locally, nationally and globally, <br>
    with appropriate innovations that advance quality of life.</P>

<h1 style="margin-top:60px;margin-bottom:40px;font-size:1.8rem;"> OBJECTIVES</h1>
<ul>
<li>
    Develop interdisciplinary, problem-based academic programmes aligned with Rwanda’s development needs.<br>
</li>
    <li>
        Integrate IT-based resources from around the world.
    </li>
    <li>
        Ensure students have the leadership, entrepreneurship and management skills needed to create employment.
    </li>
    <li>
        Prepare students for service to their communities and country through applied service learning programmes
        nationally and internationally
    </li>
    <li>
        Create applied, evidence-driven, research centres focused on problem solving, aligned with Rwanda’s development needs.
    </li>
    <li>
        Develop continuous education programs for upgrading skills and knowledge.
    </li>
</ul>
{% endblock %}
